﻿@model List<UserRoleViewModel>
@{
    var roleId = ViewBag.roleId;
 }


    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Manage roles</h2>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Edit" class="btn btn-primary" style="width:auto" />
                <a asp-action="ListRoles" asp-controller="Admin"
                   class="btn btn-primary" style="width:auto">Close</a>
            </div>
        </div>
    </form>