﻿@model IEnumerable<ApplicationRole>

@{ 
    ViewBag.Title = "Roles";
}


@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">Create role</a>
    foreach (var role in Model)
    { 
    <div>
        <div class="card mb-3">
            Role Id : @role.Id
        </div>
        <div class="card-body">
            <h5 class="card-title">@role.Name</h5>
        </div> 
        <div class="card-footer">
            <form asp-action="DeleteRole" asp-controller="Admin" asp-route-id="@role.Id" method="post">
                <a class="btn btn-primary" asp-action="EditRoles" , asp-controller="Admin" asp-route-Id="@role.Id">Edit</a>
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
    </div>
    }
}
else {
    <div class="card">
        <div class="card-header">
            you are haven't any roles'
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use button
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-action="CreateRole" asp-controller="Admin">
                Create role
            </a>
        </div>
    </div>
}