﻿@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Users";
}

@if (Model.Any())
{
    <a class="btn btn-primary" style="width:auto"
       asp-action="Register" asp-controller="Account">
        Create user
    </a>
    foreach (var user in Model)
    {
        <div class="card">
            <div class="card-header">
                user id: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">User name: @user.UserName</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                    <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id"
                       class="btn btn-danger">Edit</a>
                    <a asp-controller="Clients" asp-action="AddTask" asp-route-id="@user.Id"
                       class="btn btn-danger">Add task</a>
                    <span id="confirmDeleteSpan_@user.Id">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </span>
                    <span id="deleteSpan_@user.Id" style="display:none">
                        <span>Are you sure?</span>

                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete('@user.Id', false)">No</a>
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete('@user.Id', true)">
                            Yes!
                        </a>
                    </span>
                </form>                               
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Пока нет пользователей
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Используйте кнопку ниже и создайте пользователя
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-action="Register" asp-controller="Account">
                Создать пользователя
            </a>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
 }