﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> signInManager;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BillingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex flex-wrap align-items-center ">
                    
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-white">
                        <li><a a asp-action="Index" asp-controller="Home" class="nav-link px-2 text-secondary text-white">Home</a></li>

                    </ul>
                    <ul class="nav nav-pills bg-dark text-white">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-white">
                                    Roles and Users
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu bg-dark text-white">
                                    <li><a asp-action="ListRoles" asp-controller="Admin" class="text-white">Roles</a></li>
                                    <li> <a asp-action="ListUsers" asp-controller="Admin" class="text-white">Users</a></li>
                                </ul>
                            </li>
                            <li class="dropdown bg-dark text-white">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-white">
                                    Entities
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu bg-dark text-white">
                                    <li><a asp-action="Index" asp-controller="Goods" class="text-white">List of Goods</a></li>
                                    <li><a asp-action="Index" asp-controller="Clients" class="text-white">List of Clients</a></li>
                                </ul>
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="dropdown bg-dark text-white">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-white">
                                    Works
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu bg-dark">
                                    <li><a asp-action="Index" asp-controller="Home" class="text-white">Get calls</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>


                @if (signInManager.IsSignedIn(User))
                {
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                            LogOut @User.Identity.Name
                        </button>
                    </form>
                }
                else
                {
                    <div class="text-end">
                        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-light me-2">Login</a>
                        <a asp-action="Register" asp-controller="Account" class="btn btn-warning">Sign-up</a>
                    </div>
                }
            </div>


        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BillingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
