﻿@model IEnumerable<BillingSystem.Models.DbModels.BillingClient>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Clients", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", "Clients" , new { id=item.Id }) |
                    @Html.ActionLink("Suggest Goods", "SuggestProductToClient", "Clients" , new { id = item.Id }) |
                    @Html.ActionLink("Enter preffer products", "PrefferedProducts", "Clients" , new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Clients", "Clients" , new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
