@model List<AddTaskUserViewModel>
@{
    string userId = ViewBag.userId;
    string Id = ViewBag.userId;
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Choose list of clients for worker</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].ClientId" />
                    <input type="hidden" asp-for="@Model[i].ClientName" />
                    <input asp-for="@Model[i].IsChoosen" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsChoosen">
                        @Model[i].ClientName
                    </label>
                </div>
            }

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Assign clients" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="AddTask" asp-route-Id="@Id"
               class="btn btn-primary" style="width:auto">Close</a>
        </div>
    </div>
</form>