﻿@model BillingSystem.Models.DbModels.BillingClient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BillingClient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Preffered goods
        </dt>
        <dd class = "col-sm-10">
            @foreach (var item in Model.TypesProducts)
            {
                @string.Format("{0} ", item);
            }
        </dd>        
       <dt class = "col-sm-2">
            Suggeested goods
        </dt>
        <dd class = "col-sm-10">
            @foreach (var item in Model.SuggestedProducts)
            {
                @item.ProductName
            }
        </dd>
        
       
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Suggest Goods", "SuggestProductToClient", new { id = Model.Id }) |
    @Html.ActionLink("Enter preffer products", "PrefferedProducts", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
