﻿@model PrefferedProducts
@{
    Guid clientId = ViewBag.clientId;
    Guid Id = ViewBag.clientId;
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>enter the user's interests separated by semicolons</h2>
        </div>
        <div class="card-body">
           
                <div class="form-check m-1">
                    <input type="text" asp-for="@Model.ProductNames" />                    
                </div>           

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Edit" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="Edit" asp-route-Id="@Id"
               class="btn btn-primary" style="width:auto">Close</a>
        </div>
    </div>
</form>