﻿@model List<SuggestProductClientViewModel>
@{
    Guid clientId = ViewBag.clientId;
    Guid Id = ViewBag.clientId;
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Choose goods what you suggests to client</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].ProductId" />
                    <input type="hidden" asp-for="@Model[i].ProductName" />
                    <input asp-for="@Model[i].IsChoosen" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsChoosen">
                        @Model[i].ProductName
                    </label>
                </div>
            }

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Edit" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="Edit" asp-route-Id="@Id"
               class="btn btn-primary" style="width:auto">Close</a>
        </div>
    </div>
</form>